build/
venv/
vlamlab.egg-info/
.idea/
__pycache__/
Evaluate/__pycache__/
Compare/__pycache__/
*.egg-info

# pixi environments
.pixi

# Baselines
Baselines/*.txt*
Baselines/DROID-SLAM
Baselines/DROID-SLAM-DEV
Baselines/MASt3R-SLAM
Baselines/MASt3R-SLAM-DEV
Baselines/ORB-SLAM2
Baselines/ORB-SLAM2-DEV
Baselines/AnyFeature-VSLAM
Baselines/AnyFeature-VSLAM-DEV
Baselines/DPVO
Baselines/DPVO-DEV
Baselines/MonoGS
Baselines/MonoGS-DEV
Baselines/VGGT
Baselines/ORB-SLAM3
Baselines/ORB-SLAM3-DEV
Baselines/OKVIS2
Baselines/OKVIS2-DEV
Baselines/PyCuVSLAM
Baselines/colmap
Baselines/glomap
Baselines/LightGlue
Baselines/VGGT-SLAM-DEV
Baselines/VGGT-SLAM

path_constants.py
configs/config_demo.yaml
configs/exp_demo.yaml

#VSCode
.vscode/

app.log
Baselines/ORB_SLAM2
